POSTGRES_DB=dbdb
POSTGRES_HOST=db
POSTGRES_USER=admin
POSTGRES_PASSWORD=changeme
POSTGRES_PORT=5432
DOMAIN_HOST=localhost
FRONTEND_HOST=https://localhost
BACKEND_HOST=https://localhost
VITE_API_URL=
SECRET_KEY= change-me-to-a-random-secret
DEBUG=False
